<footer class="footer">
   <div class="text-white pt-5">
  <div class="container text-center text-md-left">
    <div class="row">

      <div class="col-md-3 mx-auto mb-4">
          <img src="assets/images/logo.png" alt="Actio Logo" style="height: 180px; margin-bottom: 10px;">
      </div>
      
      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Services</h6>
        <hr
          class="bg-light mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; height: 2px"
        />
        <ul class="list-unstyled">
          <li>
            <a [routerLink]="'/homepage'" class="text-white"
              >Personal Banking</a
            >
          </li>
          <li><a href="#!" class="text-white">Corporate Services</a></li>
          <li><a href="#!" class="text-white">Investments</a></li>
          <li><a href="#!" class="text-white">Loans</a></li>
        </ul>
      </div>

      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
        <hr
          class="bg-light mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; height: 2px"
        />
        <ul class="list-unstyled">
          <li><a href="#!" class="text-white">Privacy Policy</a></li>
          <li><a href="#!" class="text-white">Terms of Use</a></li>
          <li><a href="#!" class="text-white">Careers</a></li>
          <li><a href="#!" class="text-white">Support</a></li>
        </ul>
      </div>

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr
          class="bg-light mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px; height: 2px"
        />
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-marker-alt me-2"></i> 123 Finance Blvd, Porto
          </li>
          <li><i class="fas fa-phone me-2"></i> +351 21 123 4567</li>
          <li><i class="fas fa-envelope me-2"></i> support&#64;actio.pt</li>
        </ul>
      </div>
    </div>
  </div>
    <div
      class="footer-bottom text-center py-3"
      style="background-color: #5a0fc7"
    >
      © 2025 Actio · All rights reserved
    </div>
   </div>
</footer>
