<header class="d-flex justify-content-between align-items-center px-4 py-6" style="background-color: #6a11cb; color: white;">
    <div class="d-flex align-items-center">
        <button class="btn text-white d-flex align-items-center" (click)="toggleSidebar()" style="background: none; border: none;">
          <i class="fas fa-bars me-2"></i>
          <span class="fw-semibold">Menu</span>
        </button>
    </div>
    
    <div class="text-center">
        <img src="assets/images/logo.png" alt="Actio Logo" style="height: 120px;">
    </div>

    <div class="d-flex gap-2 justify-content-end flex-wrap">

        <a routerLink="/login" class="btn fw-medium" style="background-color: #7e5bef; color: white;">
          <i class="fas fa-sign-in-alt me-2"></i> Login
        </a>
      
        <a routerLink="/signup" class="btn fw-medium" style="background-color: #7e5bef; color: white;">
          <i class="fas fa-user-plus me-2"></i> Sign Up
        </a>
      
        <button (click)="logout()" class="btn fw-medium" style="background-color: #7e5bef; color: white;">
          <i class="fas fa-sign-out-alt me-2"></i> Logout
        </button>
      
      </div>
      
      
      
</header>
