<nav class="navbar">
    <div class="navbar-container">
      <div class="nav-left">
        <button *ngIf="isLoggedIn" (click)="toggleSidebar()"  class="menu-btn" aria-label="Toggle menu">
          <i class="fas fa-bars"></i>
        </button>
        <a [routerLink]="['/homepage']" class="logo-link">
          <img src="assets/images/logo.png" alt="Actio Logo" class="logo"/>
        </a>

      </div>
      <div class="nav-right">
        <a [routerLink]="['/about']" style="color: white; text-decoration: underline;"> About Actio </a>
        <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="nu-btn"><i class="fas fa-sign-in-alt"></i> Login</a>
        <a *ngIf="!isLoggedIn" [routerLink]="['/register']" class="nu-btn outlined" style="cursor:pointer;"><i class="fas fa-user-plus"></i> Sign Up</a>

        <a *ngIf="isLoggedIn" (click)="logout()" class="nu-btn outlined" style="cursor:pointer;"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>
  </nav>
  