/* Main Container */
.stock-search-container {
  padding: 2rem 1rem;
  max-width: 600px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
}

/* Search Bar */
.search-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search-section input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
}

.search-section button {
  width: fit-content;
  background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
}
.search-section button:hover {
  background-color: #5510a3;
}

/* Card  */
.stock-card {
  max-width: 360px;
  margin: 2rem auto;
  border: 1px solid #6a11cb;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
  background-color: #f8f9fa;
}

.stock-card-header {
  background-color: #3b005f;
  color: #fff;
  padding: 0.75rem 1rem;
  text-align: center;
}
.stock-card-header h5 {
  margin: 0;
  font-size: 1.1rem;
}

.stock-card-body {
  padding: 1rem;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.info-item:last-child {
  margin-bottom: 1.5rem;
}

.info-label {
  color: #6c757d;
  font-weight: 500;
}
.info-value {
  font-weight: 600;
}

.text-positive {
  color: #28a745;
}
.text-negative {
  color: #dc3545;
}

.info-action {
  text-align: right;
}

/* BUY button */
.btn-success {
  background-color: #3b005f;
  border: none;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  font-size: 0.95rem;
  font-weight: 500;
}
.btn-success:hover {
  background-color: #5510a3;
}
  
/* warning */
.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  font-weight: 500;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 8px;
  font-weight: 500;
}
