<div class="profile-page">
  <h2 class="form-title">My Profile</h2>

  <div class="profile-icon">
    <svg width="100" height="100" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
      <circle cx="64" cy="64" r="64" fill="#c4c4c4"/>
      <circle cx="64" cy="48" r="24" fill="#e6e6e6"/>
      <path d="M32,104c0-17.7,14.3-32,32-32s32,14.3,32,32" fill="#e6e6e6"/>
    </svg>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [value]="user.name" disabled />
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" [value]="user.email" disabled />
  </div>

  <div class="form-group">
    <label>Fiscal Number</label>
    <input type="text" class="form-control" [value]="user.nif" disabled />
  </div>

  <div class="form-group">
    <label>Date of Birth</label>
    <input type="text" class="form-control" [value]="user.date_of_birth | date:'dd/MM/yyyy'" disabled />
  </div>

  <button class="encerrar-conta-btn" (click)="openPopup()" [disabled]="accountClosed"> Close Account </button>
  <app-account-closure-popup [show]="showPopup"></app-account-closure-popup>

  <app-account-closure-popup
  [show]="showPopup"
  (closureConfirmed)="onClosureConfirmed()"
  (closed)="onPopupClosed()"
></app-account-closure-popup>

  <div *ngIf="successMessage" class="alert alert-success success-alert" role="alert">
    {{ successMessage }}
  </div>


