.profile-page {
  min-height: 100vh;
  background-color: #ffffff;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //font-family: 'Poppins', 'Segoe UI', sans-serif;
  //color: #333;
}

.form-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
  //color: #333;
}

.profile-icon {
  margin-bottom: 2.5rem;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
}

label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

input.form-control {
  border-radius: 8px;
  padding: 0.75rem;
  background-color: #e6f0ff;
}

.profile-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.profile-icon svg {
  background-color: #f8f9fa;
  border-radius: 50%;
  padding: 8px;
}

.encerrar-conta-btn {
  margin-top: 2rem;
  background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #5510a3; 
  }
}

.encerrar-conta-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.success-alert {
  margin-top: 2rem; 
}
