<nav class="navbar navbar-expand-lg navbar-light bg-light custom-purple-shadow">
    <div class="container-fluid">

        <div class="flex items-center space-x-2">
            <button class="btn" style="background-color: #7e5bef; color: white;" (click)="toggleSidebar()">☰ Menu</button>
            <!--<span class="navbar-brand mb-0 h1">My App</span> -->
            
            <span class="fw-semibold fs-5 ms-4">Hello User</span>
        </div>
        

        

        
        <div></div>
        <div></div>
        <div class="fw-semibold fs-2 ms-5">
            <a href="/homepage" class="custom-purple text-decoration-none">
                Actio
            </a>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div class="me-4">
            <a href="#">
            <i class="text-center fas fa-circle-user fa-3x custom-purple"></i>
        </a>
        </div>
    </div>
</nav>
  

<app-sidebar [isOpen]="sidebarOpen" (close)="closeSidebar()"></app-sidebar>