:root {
  --actio-purple: #6f42c1;
  --actio-light-purple: #f3ebfa;
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
}

.table-hover tbody tr:hover {
  background-color: var(--actio-light-purple);
}

.text-primary {
  color: var(--actio-purple) !important;
}
