<section class="default-table-wrapper">
<div class="sort-filters">
  <div class="form-group">
    <label for="sortBy">Sort by:</label>
    <select
      id="sortBy"
      class="form-select"
      [(ngModel)]="sortKey"
      (ngModelChange)="onSortKeyChange($event)"
    >
      <option value="">None</option>
      <option
        *ngFor="let col of tableColumns"
        [value]="col.key"
        [disabled]="!col.key"
      >
        {{ col.label }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="sortDirection">Order:</label>
    <select
      id="sortDirection"
      class="form-select"
      [(ngModel)]="sortDirection"
      (ngModelChange)="onSortDirectionChange($event)"
    >
      <option value="asc">Ascending ↑</option>
      <option value="desc">Descending ↓</option>
    </select>
  </div>
</div>

<!-- Table -->
<div class="table-responsive">
  <table class="table table-striped table-hover mb-0 align-middle">
    <thead>
      <tr>
        <th
          *ngFor="let column of tableColumns"
          [ngClass]="'text-' + (column.align || 'start') + ' text-white'"
        >
          {{ column.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of displayData">
        <td
          *ngFor="let column of tableColumns"
          [ngClass]="'text-' + (column.align || 'start')"
        >
          <ng-container *ngIf="column.key; else customColumn">
            <span [innerHTML]="
              column.format
                ? column.format(row[column.key], row)
                : row[column.key]
            "></span>
          </ng-container>
          <ng-template #customColumn>
            <ng-container *ngIf="column.customRender">
              <ng-container
                [ngTemplateOutlet]="column.customRender(row)"
                [ngTemplateOutletContext]="{ $implicit: row }"
              >
              </ng-container>
            </ng-container>
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="displayData.length === 0">
        <td [attr.colspan]="tableColumns.length" class="text-center py-3">
          No records found.
        </td>
      </tr>
      <tr *ngFor="let _ of emptyRows">
        <td [attr.colspan]="tableColumns.length" style="height: 3rem;">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Pagination footer -->
<nav *ngIf="totalPages > 1" class="pagination-container mt-3 mb-3">
  <button
    class="pagination-btn"
    [disabled]="currentPage === 1"
    (click)="goToPreviousPage()"
  >
    ‹ Previous
  </button>

  <span class="pagination-info">
    Page {{ currentPage }} of {{ totalPages }}
  </span>

  <button
    class="pagination-btn"
    [disabled]="currentPage === totalPages"
    (click)="goToNextPage()"
  >
    Next ›
  </button>
</nav>
</section>
