<app-stock-search (purchaseCompleted)="refreshWallet()" />

<div *ngIf="successMessage" class="alert alert-success text-center mt-3">
  {{ successMessage }}
</div>
<ng-template #buyButton let-item>
  <button
    class="btn btn-sm action-btn buy-btn"
    (click)="onBuy(item)"
    title="Buy {{ item.stockName }}"
  >
    <i class="fas fa-arrow-up me-1"></i>
    BUY
  </button>
</ng-template>

<ng-template #sellButton let-item>
  <button
    class="btn btn-sm action-btn sell-btn"
    (click)="onSell(item)"
    title="Sell {{ item.stockName }}"
  >
    <i class="fas fa-arrow-down me-1"></i>
    SELL
  </button>
</ng-template>

<app-default-table
  [tableTitle]="title"
  [tableSubTitle]="subtitle"
  [tableData]="stockItems"
  [tableColumns]="tableColumns">
</app-default-table>

<app-stock-purchase-popup
  *ngIf="showPurchasePopup"
  [stockName]="selectedStock?.stockName ?? ''"
  [stockId]="selectedStock?.stockId ?? 0"
  [unitPrice]="selectedStock?.currentValue ?? 0"
  [availableBalance]="clientBalance"
  [availableShares]="selectedStock?.quantity ?? 0"
  [isBuy]="isBuying"
  (onConfirm)="handleConfirmTransaction($event)"
  (onCancel)="showPurchasePopup = false"
  (errorMessage)="handleTransactionError($event)"
  (onSuccess)="handleTransactionSuccess()"
/>
