.layout-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    transition: margin-left 0.3s ease;
  }
  
  .main-content.with-sidebar {
    margin-left: 260px;
  }
  app-sidebar {
    width: 260px;
    transition: all 0.3s ease;
  }
  